@{
    ViewBag.Title = "Search Package";
}

<h2>Package Dashboard</h2>
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/base.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
<script src="~/Content/jqwidgets/jqwidgets/jqx-all.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/jqwidgets/jqwidgets/jqxcore.js"></script>
<script src="~/Content/jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/Content/jqwidgets/jqwidgets/jqxcalendar.js"></script>
@using (Html.BeginForm("PackageDetails", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12">
        <fieldset>
            <legend>Search package by date</legend>
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="col-md-4">From Date</div>
                        <div class="col-md-8"><div id='jqxCalendarFrom' class="form-control"></div></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">To Date</div>
                        <div class="col-md-8"><div id='jqxCalendarTo' class="form-control"></div></div>
                        <input type="hidden" value="1" name="ReqType" id="ReqType" />                       
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-9">&nbsp;</div>
                        <div class="col-md-3" style="margin-top:30px; padding-left:8%;"><input type="submit" class="btn btn-success" id="btnSearch" value="Search" /> </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select package to upload</legend>
            <div class="panel panel-success" style="padding:25px;">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3" style="float:left; text-align:right;">
                            <span style="font-size:20px;">File to upload:</span>
                        </div>
                        <div class="col-md-6" style="float:left; text-align:left;">
                            <input style="width:100%; height:30px;" name="file" type="file" id="ulpFile" />
                        </div>
                        <div class="col-md-3" style="float:right;">
                            <input type="button" class="btn btn-success" id="btnUpload" value="Upload" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    @section scripts{
        <script type="text/javascript">
            $("#jqxCalendarFrom, #jqxCalendarTo").jqxDateTimeInput({ height: '16px', animationType: "slide", formatString: "MM-dd-yyyy" });
            $(".jqx-icon.jqx-icon-calendar").parent().css("width", "50px");
            $("#jqxCalendarFrom input").attr("name", "fromDate");
            $("#jqxCalendarTo input").attr("name", "toDate");
            $("#jqxCalendarFrom").on("valueChanged", function (event) {
            });
            $("#jqxCalendarTo").on("valueChanged", function (event) {
            });

            $(function () {
                $("#btnSearch").click(function (event) {
                    event.preventDefault();

                    var fromDate = $("#jqxCalendarFrom").val().split("-");
                    var toDate = $("#jqxCalendarTo").val().split("-");

                    from = new Date(fromDate[2], fromDate[0] - 1, fromDate[1]);
                    to = new Date(toDate[2], toDate[0] - 1, toDate[1]);

                    if (from > to) {
                        alert("From date should be smaller than to date");
                    } else if (to > new Date()) {
                        alert("Date shouldn't be greater than today");
                    } else {
                        $("form").submit();
                    }
                });

                $("#btnUpload").click(function (event) {
                    event.preventDefault();
                    fileName = $("#ulpFile").val();
                    
                    if (fileName == null || fileName.trim().length == 0 || fileName == "undefined") {
                        alert("Select file to be uploaded");
                    } else {                        
                        $("form").attr("action", "UploadPackage");
                        $("form").attr("enctype", "multipart/form-data");
                        $("form").submit();
                    }
                });
            });
        </script>
    }
}



